.product {
    .block-1 {
        .center {
            font-style: normal;
                font-weight: 400;
                font-size: 50px;
                text-align: center;
                margin-top: 45px;
                color: #031412;
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 40px;
        }

        .card-1 {
            width: 445px;
            height: 491px;
            background-image: url(../../assets/img/product-4.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .card-2 {
            width: 445px;
            height: 491px;
            background-image: url(../../assets/img/product-5.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .card-3 {
            width: 445px;
            height: 491px;
            background-image: url(../../assets/img/product-6.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .card-4 {
            width: 445px;
            height: 491px;
            background-image: url(../../assets/img/product-7.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .card-5 {
            width: 445px;
            height: 491px;
            background-image: url(../../assets/img/product-8.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .card-6 {
            width: 445px;
            height: 491px;
            background-image: url(../../assets/img/product-9.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .block-2 {
        .center {
            font-style: normal;
            font-weight: 400;
            font-size: 50px;
            text-align: center;
            padding-top: 70px;
            color: #031412;
        }
    
        .cards {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 40px;
        }
    
        .card-1 {
            width: 446px;
            height: 600px;
    
            img {
                width: 446px;
                height: 491px;
            }
    
            .info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 36px;
            }
    
            .text {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 96.4%;
                width: 257px;
                height: 38px;
                color: #031412;
            }
    
            .price {
                font-style: normal;
                font-weight: 800;
                font-size: 30px;
                color: #031412;
            }
        }
    
        .card-2 {
            width: 446px;
            height: 600px;
    
            img {
                width: 446px;
                height: 491px;
            }
    
            .info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 36px;
            }
    
            .text {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 96.4%;
                width: 257px;
                height: 38px;
                color: #031412;
            }
    
            .price {
                font-style: normal;
                font-weight: 800;
                font-size: 30px;
                color: #031412;
            }
        }
    
        .card-3 {
            width: 446px;
            height: 600px;
    
            img {
                width: 446px;
                height: 491px;
            }
    
            .info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 36px;
            }
    
            .text {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 96.4%;
                width: 257px;
                height: 38px;
                color: #031412;
            }
    
            .price {
                font-style: normal;
                font-weight: 800;
                font-size: 30px;
                color: #031412;
            }
        }

        .btn {
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            color: #FFFFFF;
            border: none;
            display: inline-block;
            padding: 16px 78px;
            margin: 90px 570px 0 570px;
            background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
        }
    }
}